<h1 class="mb-3">トランザクション</h1>

<%= render partial: "shared/search", locals: { path: transactions_path, placeholder: "Transaction ID" } %>

<%= render partial: "layouts/flash" %>

<pre><%= @transaction_json %></pre>
